
.aurora-container {
    width: 100vw;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
    overflow: hidden;
    background-color: #000;
    pointer-events: none; 
  }
  canvas {
    display: block;
  }
